<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    
    <title>Login Form</title>
    {{>login_header}}
    <style>
      a:hover{
  color:red;
}
    </style>
   </head>
<body>
  
  <div class="container">
        
    <input type="checkbox" id="flip">
    <div class="cover">
      <div class="front">
        <img src="images/login.jpg" alt="">-->
        <div class="text">
          <span class="text-1">Every new Employee is a <br> responsible for quality</span>
          <span class="text-2">Let's get connected</span>
        </div>
      </div>
    </div>
    <div class="forms">
        <div class="form-content">
          <div class="login-form">
                <div class="title">Login Form</div>
           
                    <form action="/login" method="PoST">
                        <div class="input-boxes">
                          <div claas="text-danger" style="color: #FF0000;">
                                {{employee}}
                            </div>
                        <div class="input-box">
                            <i class="fas fa-envelope"></i>
                            <input type="text" name="uname" placeholder="Enter your user name" >
                            
                        </div>
                        <div claas="text-danger" style="color: #FF0000;">
                                {{emp}}
                            </div>
                        <div class="input-box">
                            <i class="fas fa-lock"></i>
                            <input type="password" name="pwd" placeholder="Enter your password">
                           
                        </div>
                         <div claas="text-danger" style="color: #FF0000;">
                                {{emp}}
                            </div>
                        </div>
                        <div class="text"><a href="#">Forgot password?</a></div>
                        <div class="button input-box">
                            <input type="submit" value="SignIn">
                        </div>
                        <div class="text sign-up-text">Don't have an account? <a href="/register">Sigup now</a></div>
                        <br><a class="go" style="text-decoration: none;" href="/">Go Home</a>
                        </div>
                    </form>
            </div>
        
        </div>
    </div>
  </div>
</body>
</html>
