   
.content-table {
    margin: 50px 0;
    background-color: rgba(25, 27, 25, 0.7);
    
    border-radius: 10px ;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.50);
    border-collapse:collapse;
  }
  .content-table tbody tr{
    border-bottom: 1px solid #3399ff;
  }
  
  .content-table thead tr {
    background-color:  #3399ff;
    color: #ffffff;
    font-weight: bold;
     border-bottom: 1px solid black;
  }
  
  .content-table th{
      padding: 12px 35px;
  } 
  .content-table td {
    padding: 10px 30px 10px ;
    color:white;
  }
  
  
  .btn-primary:hover{
              box-shadow: 5px 5px 10px #999;
          }
          #edit
          {
              color:white;
              font-size: 10px;
              box-shadow: 5px 5px 10px #999;
          }
          #d
          {
               font-size: 10px;
              color:white;
              box-shadow: 5px 5px 10px #999;
          }
          .btn-success:hover{
              background:#d623cb;
              color:white;
          }
          .btn-danger:hover{
              background:#ffc107;
              color:black;
          }
          .adjust{
              margin-left: 150px;
              margin-right: 150px;
          }
          
          #d{
              
              margin-right: 60px;
          }  